*/migrations/0*

# Vietualenv files
venv/

# Pyhon cache files
__pycache__/

# Python eggs
*.egg-info/

# Django default database file
*.sqlite3

.idea/

#*.sqlite3


*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

backend/dbAlco/migrations/

