*/migrations/0*

# Vietualenv files
venv/

# Pyhon cache files
__pycache__/

# Python eggs
*.egg-info/

# Django default database file

#*.sqlite3


*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

backend/dbAlco/migrations/
.idea/

